@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap");
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

#main {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  /*transform: skewY(-10deg);*/
}

#app {
  width: 100%;
  height: 100%;
}

#gradient {
  /* height: 60%;
  transform: skewY(10deg); */
  height: auto;
  min-height: 100vh !important;
  max-height: 300vh;
  /*max-height: 180vh;*/
}
