/*@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");*/
* {
  transition: all 0.3s ease-out;
}
h3 {
  color: #262626;
  font-size: 30px;
  line-height: 47px;
  font-weight: 700;
  margin-bottom: 4px;
}
p {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  color: #666;
}
p.small {
  font-size: 20px;
}
.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #f50057;
  border-radius: 0 4px 0 32px;
}
.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}
.card1 {
  display: block;
  position: relative;
  /*dimensiuni custom puse de mine*/
  width: 240px;
  height: 180px;
  /**/
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  text-align: center;
}
.card1:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #f50057;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}
.card1:hover:before {
  /*aici se mareste daca tranzitia nu acopera tot cardul*/
  transform: scale(24);
}
.card1:hover p {
  transition: all 0.3s ease-out;
  color: rgba(255, 255, 255, 0.8);
}
.card1:hover h3 {
  transition: all 0.3s ease-out;
  color: #fff;
}
.card1:hover .icon {
  transition: all 0.3s ease-out;
  color: #fff;
}
.disabled {
  cursor: context-menu !important;
}
